

/*Smartphone*/
@media screen and (max-width: 480px){

#somos{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20px;
}
#somos h1{
    color: #0253A9;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}
#somos p{
    color: #545454;
    font-size: 10px;
    margin-bottom:40px;
}
.container2{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0px;
    justify-content: center;
    cursor: pointer;
}
.container2 div{

    width: 100px;
    height: 100px;
    background: #ffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
    margin: 10px;
    border-radius: 1em;
}
.container2 div img{
    width: 45px;
}
#missao,#visao,#valores{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#descricao p{
    display: none;
}
#valor{
    display: flex;
    flex-direction: column;
    width: 65vw;
    justify-content: space-between;
    margin: auto;
}
#valor h2{
    color: #545454;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    transform: translatey(25px);
}
#valor p{
    display: none;
}
#descricao #valor{
    display: none;
}
.txtValor {
    display: flex;
    flex-direction: column; /* Permite que os elementos dentro se empilhem verticalmente */
    
  }
  
  .txtValor > div {
    display: flex;
    flex-direction: row; /* Mantém o título e o ícone na mesma linha */
    align-items: center;
    justify-content: space-between;
  }
  
  .txtValor img {
    position: relative;
    width: 10px; /* Ajuste o tamanho do ícone */
    height: 10px;
    cursor: pointer; /* Indica que o ícone é clicável */
    transform: translateX(63vw);
    
  }
  
  .txtValor p {
    margin: 5px 0 0 0; /* Espaçamento acima do texto */
    display: none; /* O texto começa oculto */
  }
  
  .txtValor p.active {
    display: block; /* Mostra o texto quando ativo */
  }
  
#valor hr{
    margin-bottom: 10px;
}
#txtMissao, #txtVisao{
    width: 50%;
    text-align: center;
}


/*Rodape*/

#rodape{
    margin-top: 60px;
    height: 110px;
    background: #0253A9;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#rodape img{
    width: 100%;
}

}

/*Destop*/
@media (min-width: 1024px){

    #somos{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 60px;
    }
    #somos h1{
        color: #0253A9;
        font-size: 3em;
        text-transform: uppercase;
        font-weight: bold;
    }
    #somos p{
        color: #545454;
        margin-bottom:40px;
    }
    .container2{
        display: flex;
        width: 100%;
        align-items: center;
        gap: 20px;
        justify-content: center;
        cursor: pointer;
    }
    .container2 div{
    
        width: 300px;
        height: 300px;
        background: #ffff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
        margin: 20px;
        border-radius: 1em;
    }
    #missao,#visao,#valores{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
    }
    #descricao p{
        display: none;
    }
    #valor{
        display: flex;
        flex-direction: column;
        width: 65vw;
        justify-content: space-between;
    }
    #valor h2{
        color: #545454;
        text-transform: uppercase;
        position: relative;
        transform: translatey(25px);
    }
    #valor p{
        display: none;
    }
    #descricao #valor{
        display: none;
    }
    .txtValor {
        display: flex;
        flex-direction: column; /* Permite que os elementos dentro se empilhem verticalmente */
        
      }
      
      .txtValor > div {
        display: flex;
        flex-direction: row; /* Mantém o título e o ícone na mesma linha */
        align-items: center;
        justify-content: space-between;
      }
      
      
      
      .txtValor img {
        position: relative;
        width: 20px; /* Ajuste o tamanho do ícone */
        height: 20px;
        cursor: pointer; /* Indica que o ícone é clicável */
        transform: translateX(63vw);
        
      }
      
      .txtValor p {
        margin: 5px 0 0 0; /* Espaçamento acima do texto */
        display: none; /* O texto começa oculto */
      }
      
      .txtValor p.active {
        display: block; /* Mostra o texto quando ativo */
      }
      
    #valor hr{
        margin-bottom: 10px;
    }
    #txtMissao, #txtVisao{
        width: 60%;
        text-align: center;
    }
    
    
    /*Rodape*/
    
    #rodape{
        width: 100%;
        height: 410px;
        background: #0253A9;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
}



